
<div class="container" style="margin-top:50px">
  <div class="row">
    <div class="col-md-4">
      <form novalidate [formGroup]="postForm" (ngSubmit)="onSubmitPost()" #postFormDirective="ngForm">
        <div>
          <div>
            <mat-form-field appearance="outline" style="width:100%">
              <input matInput placeholder="Title" type="text" formControlName="title" required>
            </mat-form-field>

          </div>
          <div>

            <mat-form-field appearance="fill" style="width:100%">
              <mat-label>Post details</mat-label>
              <textarea matInput formControlName="content" rows="17" cols="40"></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10">
            <button mat-flat-button type="submit" color="primary" [disabled]="postForm.invalid">
              Post</button>
          </div>
        </div>

        <br />
        <div class="clearfix"></div>


      </form>
    </div>
    <div class="col-md-8">
      <div class="col-md-12">
        <span style="margin-left: 5px;"> My Posts </span>
        <div>
          <div *ngFor="let mypost of My_Posts" style="border: 1px solid rgb(207, 207, 207); padding: 10px; margin: 5px">
            <div>
              <p> {{mypost.title}} <br> <span style="font-size:10px">{{mypost.content}} </span> </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12" style="margin-top: 20px;">
        <span style="margin-left: 5px;"> Friends Posts </span>
        <div>
          <div *ngFor="let mypost of Friends_Posts" style="border: 1px solid rgb(207, 207, 207); padding: 10px; margin: 5px">
            <div>
              <p> {{mypost.title}} <br> <span style="font-size:10px">{{mypost.content}} </span> </p>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>